Let’s start by importing the necessary Python libraries:

In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

... and the dataset:

In [2]:
data = pd.read_csv('PasswordStrengthCheckerData/data.csv', on_bad_lines='skip')
display(data.head())

      password  strength
0     kzde5577         1
1     kino3434         1
2    visi7k1yr         1
3     megzy123         1
4  lamborghin1         1

Let's see the information about the columns in the dataset:

In [3]:
display(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 669640 entries, 0 to 669639
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   password  669639 non-null  object
 1   strength  669640 non-null  int64
dtypes: int64(1), object(1)
memory usage: 10.2+ MB

None

I took a look if the dataset has any null values or not:

In [4]:
display(data.isna().sum())

password    1
strength    0
dtype: int64

In this dataset, there is one invalid entry, so let's remove it:

In [5]:
data = data.dropna()
display(data.isna().sum())

password    0
strength    0
dtype: int64

The dataset has two columns; password and strength. In the strength column:

1. 0 means: the password’s strength is weak;
2. 1 means: the password’s strength is medium;
3. 2 means: the password’s strength is strong;

Before moving forward, I will convert 0, 1, and 2 values in the strength column to weak, medium, and strong:

In [6]:
data['strength'] = data['strength'].map({0: 'Weak', 
                                         1: 'Medium',
                                         2: 'Strong'})
display(data.sample(5))

                password strength
286749  HSJs3eTIyNgb7sEg   Strong
539572         emopunk67   Medium
594849      ma88888888zi   Medium
64069          1mousepad   Medium
357644         hileka518   Medium